@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";

}

<h1 class="mb-3">Customers</h1>
<div>
    <h5 class="float-left">Customer</h5>
    <a asp-controller="Customers" asp-action="Create" class="btn btn-outline-info float-right mt-0 mb-2">Create New</a>
</div>
    @if (Model.Count() == 0)
    {
        <h5>We don't have any customers yet</h5>
    }
    else
    {
        <table class="table table-bordered table-hover" id="customers">
            <thead>
                <tr>
                    <td>Customer</td>
                    <td>Membership Type</td>
                    <td>Delete</td>
                </tr>
                
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                <tr>
                    <td><a asp-action="Edit" asp-controller="Customers" asp-route-id="@customer.Id">@customer.Name</a></td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn btn-link js-delete">Delete</button>
                    </td>
                </tr>
                    
                }
            </tbody>
        </table>

       
    }

@section Scripts{ 
    <script>
        $(document).ready(function () {
            // for datatable plugine call
            $("#customers").DataTable();


            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>

}



